Repository apalache-mc/apalache, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konnov, @shonfeder, @Kukovec, @rodrigo7491

.github/CODEOWNERS:

# Apalache CODE CURATORS

# Curators are automatically tagged for PR review.

# Add your name after a .gitignore-style pattern bellow to
# volunteer to help curate the code matching the pattern.

# For syntax and configuration understood by GitHub, see
# https://docs.github.com/en/enterprise-cloud@latest/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# General application code

/tla-types/ @konnov @shonfeder @Kukovec
/tla-io/ @Kukovec @shonfeder
/mod-tool/ @shonfeder
/tla-assignments/ @Kukovec
/tla-pp/ @Kukovec
/tlair/ @Kukovec
/tla-bmcmt/ @rodrigo7491
# Build system and packaging

Makefile @shonfeder
*.sbt @shonfeder
/project/ @shonfeder
/bin/ @shonfeder
/mod-distribution/ @shonfeder

# DevEnv, CI, and git forge

/.github/ @shonfeder
.envrc  @shonfeder
/test  @shonfeder
.scalafmt.conf @shonfeder
flake.nix @shonfeder

fmt + rebase fix
  tla-types/src/main/scala/at/forsyte/apalache/tla/typecomp/TypeComputationFactory.scala
  tla-types/src/test/scala/at/forsyte/apalache/tla/typecomp/TestSetBuilder.scala
Owners: @konnov, @shonfeder, @Kukovec

fixing some unit tests
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/LazyEquality.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/caches/ModelValueCache.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/RecCtorRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/TupleOrSeqCtorRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/aux/CherryPick.scala
Owners: @rodrigo7491

fix more tests
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/LazyEquality.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateDecoder.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/DomainRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/DomainRuleWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FunAppRuleWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/SetInRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/SetInRuleWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/aux/CherryPick.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/smt/Z3SolverContext.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/types/package.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestCherryPick.scala
Owners: @rodrigo7491

make sure that FunT does not need PowSetT
  test/tla/TestFunctions.tla
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/types/package.scala
Owners: @shonfeder, @rodrigo7491

add a comment
  tla-types/src/test/scala/at/forsyte/apalache/tla/typecheck/etc/TestToEtcExprRows.scala
Owners: @konnov, @shonfeder, @Kukovec

rm nameGenerator
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterAuto.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterAutoWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterImpl.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterImplWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/passes/BoundedCheckerPassImpl.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FoldSeqRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FoldSetRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/MkSeqRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/trex/OfflineExecutionContext.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/CrossTestEncodings.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/RewriterBase.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestCollectCounterexamplesSeqModelCheckerListener.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSeqModelCheckerWithArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSeqModelCheckerWithOOPSLA19.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSymbStateRewriterFoldSeq.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSymbStateRewriterFoldSet.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/ExecutorBase.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithIncrementalAndArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithOfflineAndArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithOfflineAndOOPSLA19.scala
  tla-pp/src/main/scala/at/forsyte/apalache/tla/pp/Inliner.scala
  tla-pp/src/main/scala/at/forsyte/apalache/tla/pp/passes/InlinePassImpl.scala
  tla-pp/src/test/scala/at/forsyte/apalache/tla/pp/TestInliner.scala
  tla-pp/src/test/scala/at/forsyte/apalache/tla/pp/TestSourceLocator.scala
Owners: @rodrigo7491, @Kukovec

fmt-fix
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterAuto.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterAutoWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterImpl.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterImplWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/passes/BoundedCheckerPassImpl.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FoldSeqRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FoldSetRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/MkSeqRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/trex/OfflineExecutionContext.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/CrossTestEncodings.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/RewriterBase.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestCollectCounterexamplesSeqModelCheckerListener.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSeqModelCheckerWithArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSeqModelCheckerWithOOPSLA19.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/ExecutorBase.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithIncrementalAndArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithOfflineAndArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithOfflineAndOOPSLA19.scala
Owners: @rodrigo7491

remove FunT and make the code compile
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/LazyEquality.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateDecoder.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/DomainRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/DomainRuleWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FunAppRuleWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/RecFunDefAndRefRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/SetInRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/SetInRuleWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/aux/CherryPick.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/smt/Z3SolverContext.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/types/package.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestCherryPick.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSymbStateRewriterFun.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSymbStateRewriterFunSet.scala
Owners: @rodrigo7491

fix unit tests that are easy to fix
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateDecoder.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/DomainRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/aux/CherryPick.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/aux/DefaultValueFactory.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSymbStateRewriterRecord.scala
Owners: @rodrigo7491

fix the other failing tests
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FunAppRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/types/package.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestCherryPick.scala
Owners: @rodrigo7491

Renaming in `Inliner` fix (#1687)
  test/tla/Bug1682.tla
  test/tla/cli-integration-tests.md
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterAuto.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterAutoWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterImpl.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/SymbStateRewriterImplWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/passes/BoundedCheckerPassImpl.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FoldSeqRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FoldSetRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/MkSeqRule.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/trex/OfflineExecutionContext.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/CrossTestEncodings.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/RewriterBase.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestCollectCounterexamplesSeqModelCheckerListener.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSeqModelCheckerWithArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSeqModelCheckerWithOOPSLA19.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSymbStateRewriterFoldSeq.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/TestSymbStateRewriterFoldSet.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/ExecutorBase.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithIncrementalAndArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithOfflineAndArrays.scala
  tla-bmcmt/src/test/scala/at/forsyte/apalache/tla/bmcmt/trex/TestTransitionExecutorWithOfflineAndOOPSLA19.scala
  tla-pp/src/main/scala/at/forsyte/apalache/tla/pp/Inliner.scala
  tla-pp/src/main/scala/at/forsyte/apalache/tla/pp/passes/InlinePassImpl.scala
  tla-pp/src/test/scala/at/forsyte/apalache/tla/pp/TestInliner.scala
  tla-pp/src/test/scala/at/forsyte/apalache/tla/pp/TestSourceLocator.scala
Owners: @shonfeder, @rodrigo7491, @Kukovec

fix the bugs introduced by refactoring
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/DomainRuleWithArrays.scala
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/rules/FunAppRuleWithArrays.scala
Owners: @rodrigo7491

tweaks
  docs/src/adr/018adr-inlining.md
Owners: none

Update ujson to 2.0.0
  project/Dependencies.scala
Owners: @shonfeder

[release] 0.24.2
  RELEASE-NOTES.md
  UNRELEASED.md
  VERSION
Owners: none

Bump version to 0.24.3-SNAPSHOT
  CHANGES.md
  RELEASE-NOTES.md
  VERSION
Owners: none

[release] 0.25.0
  RELEASE-NOTES.md
  UNRELEASED.md
  VERSION
Owners: none

Bump version to 0.25.1-SNAPSHOT
  CHANGES.md
  RELEASE-NOTES.md
  VERSION
Owners: none

Update docs on docker-based installation
  docs/src/apalache/index.md
  docs/src/apalache/installation/docker.md
Owners: none

deploy: f367e981e3846709d961c321516df6d2cf3ef8ac
  docs/apalache/index.html
  docs/apalache/installation/docker.html
  docs/print.html
  docs/searchindex.js
  docs/searchindex.json
Owners: none

encode function sets as arrays
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/smt/Z3SolverContext.scala
Owners: @rodrigo7491

update release notes
  UNRELEASED.md
Owners: none

add integration test for sets of function sets
  test/tla/OracleFunSet.tla
  test/tla/cli-integration-tests.md
Owners: @shonfeder

refactor cellCache
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/smt/Z3SolverContext.scala
Owners: @rodrigo7491

change insert to prepend
  tla-bmcmt/src/main/scala/at/forsyte/apalache/tla/bmcmt/smt/Z3SolverContext.scala
Owners: @rodrigo7491

fix folds link
  docs/src/lang/apalache-operators.md
Owners: none

deploy: 7823b14cef9fd7170e51298044c6b095a73cf2ec
  docs/lang/apalache-operators.html
  docs/print.html
Owners: none

Stop forking JVMs for unit tests
  build.sbt
Owners: @shonfeder

Fix paths in unit tests
  tla-types/src/test/scala/at/forsyte/apalache/tla/typecheck/etc/TestTypeCheckerTool.scala
Owners: @konnov, @shonfeder, @Kukovec

Disable parallel execution of unit tests
  build.sbt
Owners: @shonfeder

Apply suggestions from code review
  docs/src/adr/018adr-inlining.md
Owners: none

cell comment
  docs/src/adr/018adr-inlining.md
Owners: none
